/*.itog{*/
/*    padding: 50px;*/
/*    background: beige;*/
/*    border-radius: 10px;*/
/*    border: solid 1.5px #000;*/
/*}*/

.box{
    padding: 50px;
    background: #a19cce;
    color: #000;
    margin: 30px;
}

.box_list{
    display: flex;
    flex-wrap: wrap;
}
